<div class="container size ">
  <h3 class="fw-bold text-decoration-underline ">Detalle del atleta {{atlet?.apellido}}</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Identificador</th>
        <td class="fst-italic">{{atlet?.id}}</td>
      </tr>
      <tr>
        <th scope="col">Nombre</th>
        <td class="fst-italic">{{atlet?.nombre}}</td> 
      </tr>
      <tr>
        <th scope="col">Apellido</th>
        <td class="fst-italic">{{atlet?.apellido}}</td>
      </tr>
      <tr>
        <th scope="col">Nacionalidad</th>
        <td class="fst-italic">{{atlet?.nacionalidad}}</td> 
      </tr>
      <tr>
        <th scope="col">Dni</th>
        <td class="fst-italic">{{atlet?.dni}}</td> 
      </tr>
      <tr>
        <th scope="col">Numero de Pasaporte</th>
        <td class="fst-italic">{{atlet?.numeroDePasaporte}}</td> 
      </tr>
      <tr>
        <th scope="col">Direccion</th>
        <td class="fst-italic">{{atlet?.direccion}}</td> 
      </tr>
      <tr>
        <th scope="col">Email del Atleta</th>
        <td class="fst-italic">{{atlet?.emailDelAtleta}}</td> 
      </tr>
      <tr>
        <th scope="col">Fecha de Nacimiento</th>
        <td class="fst-italic">{{atlet?.fechaDeNacimientoDelAtleta}}</td> 
      </tr>
      <tr>
        <th scope="col">Celular del Atleta</th>
        <td class="fst-italic">{{atlet?.celularDelAtleta}}</td> 
      </tr>
      <tr>
        <th scope="col">Club</th>
        <td class="fst-italic">{{atlet?.club}}</td> 
      </tr>
      <tr>
        <th scope="col">Obra Social</th>
        <td class="fst-italic">{{atlet?.obraSocial}}</td> 
      </tr>
      <tr>
        <th scope="col">Numero de Obra Social</th>
        <td class="fst-italic">{{atlet?.numeroCarnetObraSocial}}</td> 
      </tr>
      <tr>
        <th scope="col">Permiso de Viaje al Exterior</th>
        <td class="fst-italic">{{atlet?.permisoDeViaje}}</td> 
      </tr>
      <tr>
        <th scope="col">Beca</th>
        <td class="fst-italic">{{atlet?.beca}}</td> 
      </tr>
      <tr>
        <th scope="col">Foto dni Frontal</th>
        <td class="fst-italic">{{atlet?.fotoDniFrontal}}</td> 
      </tr>
      <tr>
        <th scope="col">Foto dni Dorsal</th>
        <td class="fst-italic">{{atlet?.fotoDniDorsal}}</td> 
      </tr>
      <tr>
        <th scope="col">Foto Pasaporte Frontal</th>
        <td class="fst-italic">{{atlet?.fotoPasaporteFrontal}}</td> 
      </tr>
      <tr>
        <th scope="col">Foto Pasaporte Dorsal</th>
        <td class="fst-italic">{{atlet?.fotoPasaporteDorsal}}</td> 
      </tr>
      <tr>
        <th scope="col">Madre del Atleta id </th>
        <td class="fst-italic">{{atlet?.madreAtletaId}}</td>
      </tr>
      <tr>
        <th scope="col">Padre del Atleta id </th>
        <td class="fst-italic">{{atlet?.padreAtletaId}}</td> 
      </tr>
      <tr>
        <th scope="col">Tutor del Atleta id </th>
        <td class="fst-italic">{{atlet?.tutorAtletaId}}</td> 
      </tr>
    </thead>
  </table>
</div>