<div>
    <div class="madresDiv">
      <h1>Madres</h1>
    <button class="btn btn-primary" routerLink="/crear-madre"> Agregar</button>
    </div>
    <table class="container">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Celular</th>
            <th scope="col">Dni</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let madre of madresList">
            <th scope="row">{{madre.id}}</th>
            <td>{{madre.nombreMadre}}</td>
            <td>{{madre.apellidoMadre}}</td>
            <td>{{madre.celularDeLaMadre}}</td>
            <td>{{madre.dniMadre}}</td>
            <button type="button" class="btn btn-outline-success" [routerLink]="['/madres', madre.id]" >Detalle</button>
            <button type="button" class="btn btn-outline-primary">Editar</button>
            <button type="button" class="btn btn-outline-danger">Eliminar</button>
          </tr>
          
        </tbody>
      </table>
  </div>