
<div class="container size ">
    <h3 class="fw-bold text-decoration-underline ">Detalle de la madre {{madre?.apellidoMadre}}</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Identificador</th>
          <td class="fst-italic">{{madre?.id}}</td>
        </tr>
        <tr>
          <th scope="col">Nombre</th>
          <td class="fst-italic">{{madre?.nombreMadre}}</td> 
        </tr>
        <tr>
          <th scope="col">Apellido</th>
          <td class="fst-italic">{{madre?.apellidoMadre}}</td>
        </tr>
        <tr>
          <th scope="col">Dni</th>
          <td class="fst-italic">{{madre?.dniMadre}}</td> 
        </tr>
        <tr>
          <th scope="col">Direccion</th>
          <td class="fst-italic">{{madre?.direccionDeLaMadre}}</td> 
        </tr>
        <tr>
          <th scope="col">Email de la Madre</th>
          <td class="fst-italic">{{madre?.emailDeLaMadre}}</td> 
        </tr>

        <tr>
          <th scope="col">Celular del Atleta</th>
          <td class="fst-italic">{{madre?.celularDeLaMadre}}</td> 
        </tr>
        <tr>
          <th scope="col">Foto dni Frontal</th>
          <td class="fst-italic">{{madre?.fotoDniFrontalMadre}}</td> 
        </tr>
        <tr>
          <th scope="col">Foto dni Dorsal</th>
          <td class="fst-italic">{{madre?.fotoDniDorsalMadre}}</td> 
        </tr>
        <tr>
          <th scope="col"> Identificador del Atleta </th>
          <td class="fst-italic">{{madre?.idAtleta}}</td> 
        </tr>
      </thead>
    </table>
    <div class="detalleMadresButton">
      <button type="button" class="btn btn-primary" routerLink="/madres">Atras</button>
    </div>
  </div>