<div class="container formulario">
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"  >Nombre</label>
          <input type="text" class="form-control" formControlName="nombre">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Apellido</label>
          <input type="text" class="form-control" formControlName="apellido">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nacionalidad</label>
            <input type="text" class="form-control" FormControlName="nacionalidad">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Dni</label>
            <input type="text" class="form-control" FormControlName="dni">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Numero de pasaporte</label>
            <input type="text" class="form-control" FormControlName="numeroDePasaporte" >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Direccion</label>
            <input type="text" class="form-control" FormControlName="direccion">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email Del Atleta</label>
            <input type="email" class="form-control" FormControlName="emailDelAtleta" >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Fecha De Nacimiento</label>
            <input type="datetime" class="form-control" FormControlName="fechaDeNacimientoDelAtleta">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Celular Del Atleta</label>
            <input type="text" class="form-control" FormControlName="celularDelAtleta" >
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Club</label>
            <input type="text" class="form-control" FormControlName="club" >
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Obra Social</label>
            <input type="text" class="form-control" FormControlName="obraSocial" >
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Numero de Obra Social</label>
            <input type="text" class="form-control" FormControlName="numeroCarnetObraSocial" >
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Permiso de viaje</label>
            <input type="text" class="form-control" FormControlName="permisoDeViaje" >
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Beca</label>
            <input type="text" class="form-control" FormControlName="beca" >
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Foto Dni Frontal </label>
            <input type="text" class="form-control" FormControlName="fotoDniFrontal" >
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Foto Dni Dorsal </label>
            <input type="text" class="form-control" FormControlName="fotoDniDorsal" >
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Foto Pasaporte Frontal </label>
            <input type="text" class="form-control" FormControlName="fotoPasaporteFrontal" >
          </div><div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Foto Pasaporte Dorsal </label>
            <input type="text" class="form-control" FormControlName="fotoPasaporteDorsal" >
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Madre del Atleta (id)</label>
            <input type="text" class="form-control" FormControlName="madreAtletaId" >
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Padre del Atleta (id)</label>
            <input type="text" class="form-control" FormControlName="padreAtletaId" >
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Tutor del Atleta (id)</label>
            <input type="text" class="form-control" FormControlName="tutorAtletaId" >
          </div>
          

        <button class="btn btn-primary mb-3">enviar</button>
      </form>
</div>